@charset "UTF-8";

#platform{
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
  margin-left: 0px;
  margin-top: 0px;
}
#category{
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;
  margin-right: 0px;
  margin-top: 0px;
}
#Discount_rate{
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-right: 100px solid transparent;
  margin-left: 0px;
  margin-bottom: 0px;
}
#Discount_expect{
  width: 0;
  height: 0;
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
  margin-right: 0px;
  margin-bottom: 0px;
}
#Purchase_plan{
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
}
#Purchase_plan2{
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
}
