@charset "UTF-8";

#entire{
  width: 100%;
  font-family: 'Stylish', sans-serif;
}
#main{
  width: 100%;
  height: 600px;
  background-image: url( https://cdn.pixabay.com/photo/2018/08/16/11/36/mentor-3610255_960_720.jpg );
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #292b2c; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#nav_button{
  align-self: flex-start;
  margin: 10px;
}
#login_wrap{
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
  margin: 10px;
}
h1{
  font-size: 100px;
}
.font_middle{
  font-size: 25px;
}
.align_center{
  text-align: center;
}
#introduce{
  background-color: #045FB4;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.second_div_img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
